.container
    .breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item
                a.breadcrumbs__link Главная
            li.breadcrumbs__item
                a.breadcrumbs__link PlayStation 4
            li.breadcrumbs__item
                a.breadcrumbs__link Игры PlayStation4
            li.breadcrumbs__item Гонки