footer.footer
    .container
        .row
            .col-md-8
                .footer-menu
                    .row
                        .col-md-4.footer-menu__column
                            .h3.column-header Компания
                            a.footer-menu__link(href="#") Лояльность
                            a.footer-menu__link(href="#") Партнеры
                            a.footer-menu__link(href="#") Поставщики
                            a.footer-menu__link(href="#") Магазины
                            a.footer-menu__link(href="#") Контакты
                        .col-md-4.footer-menu__column
                            .h3.column-header Каталог
                            a.footer-menu__link(href="#") Помощь
                            a.footer-menu__link(href="#") Условия оплаты
                            a.footer-menu__link(href="#") Доставка
                            a.footer-menu__link(href="#") Гарантия
                            a.footer-menu__link(href="#") Возможности
                        .col-md-4.footer-menu__column
                            .h3.column-header Информация
                            a.footer-menu__link(href="#") Доставка
                            a.footer-menu__link(href="#") Условия оплаты
                            a.footer-menu__link(href="#") Полезная информация
                            a.footer-menu__link(href="#") Новости

            .col-md-4.text-md-right
                img(src="images/soc.jpg" alt="")
        img(src="images/payments.jpg" alt="")
.copyright
    .container
        .row
          .col-md-6

          .col-md-6.text-md-right 2017. Рекламный знак

include scripts.pug