header.header
    .top-line
        .container
            .row.align-items-center
                .col-lg-6.top-line__nemu

                    .light-nav
                        .light-nav__item
                          a.gray-link(href="") Доставка

                        .light-nav__item
                          a.gray-link(href="") Оплата

                        .light-nav__item
                          a.gray-link(href="") Гарантия

                        .light-nav__item
                          a.gray-link(href="") Магазины

                        .light-nav__item
                          a.gray-link(href="") Новости
                        .light-nav__item
                          a.gray-link(href="") Написать письмо


                .col-sm-8.col-md-6.col-lg-4
                    .header-call
                        i.sprite.icon-tel
                        a(href="tel:+79990001122").light-nav__tel +7 999 000-11-22
                        a.light-nav__callme Заказать звонок
                .col-sm-4.col-md-6.col-lg-2
                    .header-login
                        i.sprite.icon-login
                        +svg('key_hole')
                        a(href="#").dark-link Вход
                        a(href="#").dark-link Регистрация
                .col-sm-12.hidden-md-up
                    .gamburger.gamburger--menu.hidden-md-up(data-toggle=".top-line__nemu")
                        <span class="gamburger-line1"></span>
                        <span class="gamburger-line2"></span>
                        <span class="gamburger-line3"></span>
    .header__section
        .container
            .row.align-items-center.justify-content-between
                .col-md-4.col-lg-3
                    a(href="/").logo
                        img(src="images/logo.png").logo-img
                .col-md-12.col-lg-6.header__search

                    .search-form
                        form
                            input(type="text" placeholder="Поиск по каталогу товаров").search-form__input
                            button(type="submit").search-form__btn

                .col-md-5.col-lg-3
                    .header__icons
                        a.header-icon(href="#")
                            i.sprite.icon-filter
                            .icon__num 2
                        a.header-icon(href="#")
                            i.sprite.icon-heart
                            .icon__num 0
                        a.header-cart(href="#")
                            .header-icon
                                i.sprite.icon-cart
                                .cart__num 3
                            .header-cart__text22
                                .header-cart__title Корзина
                                .header-cart__summ 3 560
    .cat-toggler.hidden-md-up
        .container
            .row.align-items-center.no-gutters
                .col-xs-auto
                    .gamburger.hidden-md-up(data-toggle=".top-menu")
                        <span class="gamburger-line1"></span>
                        <span class="gamburger-line2"></span>
                        <span class="gamburger-line3"></span>
                .col-xs-auto
                    .cat-gamburger__text Категории
    .top-menu
        .container
            .cat-nav
                .cat-nav__item
                    a.cat-nav__link(href="") PS 4
                    .dropdown-menu
                        .row
                            .col-md-6
                                .dropdown-menu__item
                                    .h3 Лидеры продаж
                                    p
                                        a(href="#").gray-link Dark Souls III.
                                        a(href="#").gray-link The Fire Fades Edition (GOTY) (PS4)
                                        a(href="#").gray-link Outlast Trinity (PS4)
                                        a(href="#").gray-link Sniper: Ghost Warrior 3
                                        a(href="#").gray-link Persona 5. Standard edition
                            .col-md-6
                                .dropdown-menu__item
                                    .h3 Игры PlayStation4 приставки
                                    p
                                        a(href="#").gray-link Sony PlayStation 4 Slim 500 Gb Gold Limited Edition (Золотая)
                                        a(href="#").gray-link Sony PlayStation 4 Slim «Хиты PlayStation» комплект с тремя играми и подпиской PlayStation Plus 90д



                            .col-md-6
                                .dropdown-menu__item
                                    .h3 PlayStation4
                                    p
                                        a(href="#").gray-link Гонки / Racing
                                        a(href="#").gray-link Боевик / Action
                                        a(href="#").gray-link Стратегии / Strategy
                                        a(href="#").gray-link Драки / Fighting
                                        a(href="#").gray-link Приключения / Adventure
                                        a(href="#").gray-link Бродилки / Arcade
                                        a(href="#").gray-link Пазлы / Puzzle
                                        a(href="#").gray-link Музыкальные / Music

                            .col-md-6
                                .dropdown-menu__item
                                    .h3 Игры PlayStation4 аксессуары

                                    a(href="#").gray-link Наушники беспроводные
                                    a(href="#").gray-link Накладки защитные на джойстики геймпада
                                    a(href="#").gray-link Игровая мышь и Кейпад
                                    a(href="#").gray-link Подписка/карта оплаты на PlayStation Plus - 365 дней (цифровой код по почте)
                                    a(href="#").gray-link Зарядное устройство
                                    a(href="#").gray-link Controller





                .cat-nav__item
                    a.cat-nav__link(href="") PS 3
                .cat-nav__item
                    a.cat-nav__link(href="") XBOX ONE
                .cat-nav__item
                    a.cat-nav__link(href="") комиксы
                .cat-nav__item
                    a.cat-nav__link(href="") настольные
                .cat-nav__item
                    a.cat-nav__link(href="") PC
                .cat-nav__item
                    a.cat-nav__link(href="") сувениры
                .cat-nav__item
                    a.cat-nav__link(href="") gamerplay
                .cat-nav__item
                    a.cat-nav__link(href="") другое






















































